.app__home-page {
    margin: 10px auto 0 auto;
    text-align: center;
}

.app__product__list{
    width: 70%;
    margin: 10px auto 0 auto;
    text-align: center;
}

.app__product__category{
    margin-bottom: 20px;
    border-radius: 15px;
}


.app__product__category-name {
    display: flex;
    background-color: var(--color-green);
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.app__product__category-name h2{
    text-align: center;
    padding: 10px;
    background-color: transparent;
}

.app__product__container {
    background-color: var(--color-light_green);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: space-between;
}

.app__product__container > div {
    flex-basis: calc(25% - 20px);
    margin: 10px auto;
    width: 200px;
    height: 350px;
}

.app__product {
    background: var(--color-white);
    height: max-content;
    width: max-content;
    padding: 10px 12px;
    border: 1px solid #0c140d;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
.app__product img {
    width: 85%;
    height: 150px;
    border-radius: 20px;
}

.app__product__details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
    background-color: transparent;
}


@media screen and (max-width: 1050px) {
    .app__product__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;;
    }

    .app__product__container > div {
        flex-basis: calc(25% - 20px);
        margin: 10px auto;
        width: 200px;
        height: 350px;
    }
}